[submodule "common"]
	path = common
	url = git@github.com:ilebedev/sanctum_common.git
[submodule "test/enclaves/tiny-AES-c"]
	path = test/enclaves/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
